# 6. 综合练习

仅做出占比很小的一部分

In [1]:
import numpy as np
import pandas as pd
# 不用print，直接显示结果
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 显示所有列
pd.set_option('display.max_columns', 600)

##  一、2002 年-2018 年上海机动车牌照拍卖

### (1) 哪一次拍卖的中标率首次小于 5%？    
(考察点：创建列，索引)  
  
### (2) 按年统计拍卖最低价的下列统计量：最大值、均值、 0.75 分位数，要求显示在同一张表上。    
建议先完成第三问，再做第二问  
(考察点：创建列，索引，分组，统计量，分列)  
  
### (3) 将第一列时间列拆分成两个列，一列为年份（格式为 20××），另一列为月份（英语缩写），添加到列表作为第一第二列，并将原表第一列删除，其他列依次向后顺延。    
(考察点：拆分列)  
  
### (4) 现在将表格行索引设为多级索引，外层为年份，内层为原表格第二至第五列的变量名，列索引为月份。  
(考察点：多级索引)  
  
### (5) 一般而言某个月最低价与上月最低价的差额，会与该月均值与上月均值的差额具有相同的正负号，哪些拍卖时间不具有这个特点？  
(考察点：统计量，分组，合并，索引排序)  
  
### (6) 将某一个月牌照发行量与其前两个月发行量均值的差额定义为发行增益，最初的两个月用 0 填充，求发行增益极值出现的时间。   
包含极大值极小值  
(考察点：统计量，索引，排序，差分)

In [24]:
# MVL = Motor Vehicle License
MVL = pd.read_csv('./2002年-2018年上海机动车拍照拍卖.csv')
MVL.head()
MVL.info()

,Date,Total number of license issued,lowest price,avg price,Total number of applicants
0,2-Jan,1400,13600,14735,3718
1,2-Feb,1800,13100,14057,4590
2,2-Mar,2000,14300,14662,5190
3,2-Apr,2300,16000,16334,4806
4,2-May,2350,17800,18357,4665

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date                            203 non-null    object
 1   Total number of license issued  203 non-null    int64
 2   lowest price                    203 non-null    int64
 3   avg price                       203 non-null    int64
 4   Total number of applicants      203 non-null    int64
dtypes: int64(4), object(1)
memory usage: 8.1+ KB

In [ ]:
#(4)
#用melt方法将原表格第二至第五列，转变为行
MVL_m=MVL.melt(id vars=['Year'，'Month']，value_vars=' Total number of license issued'，'lowest price'，'avg price'，'Total number of
#将year和variable设置为索引
MVL_m=MVL n.set_index（['Year'，'variable']）
MVL_m2=MVL_m
MVL_m.reset_index()
#将month转换为列索引
pd.pivot_table(MVL_m,index=['Year'，'variable'],columns='Month',values='Values'）
# 直接调用index，出现一个自动合并的索引

pd.pivot_table(MVL_m,index=MVL_m2.index,columns='Month'，values='Values'）

In [ ]:
#(5)
#a.计算差额
MVL_diff =pd.DataFrame()
MWL_diff['Year']=WLI['Year']
MVL_diff['Month']=MVLI['Month']
#一阶差分求lowest price 和avg price的差额（必须保证数据是顺序的）
MWL_diff['lowest price']=MVL['lowest price'].diff()
MWL_diff['avg price']=MVL['avg price'].diff()
#b.判所正负号
##同符号定义a*b为负数
MVLdiff.where（（MVLdiff['lowest price']*MWL_diffI' avg price']）<0）.dropna（）
#PL diff. where（L diffl'lowest price'J>0）& IL diffl'avg price'7（0））.dropna）
#L diff.where（ML diffl'lowest price'J<）& L diffl'avg orice'J>00）.dronna）

In [ ]:
# （6）
# 算前两个月发行均值
# 用shift/diff构造n-1，n-2的列
MVL['Total number of license issue_1']=MVL['Total number of license issued'].shift(1)
MVL['Total number of license issue_2']=MVL['Total number of license issued'].shift(2)
MVL['Avg of last 2 month']=(MVL['Total number of license issued_1']+MWL['Total number of license issued_2'])/2
MVL['Gain of issued']=WVL['Total number of license issued']-WVL['Avg of last 2 month']
# 计算极值
MVL['Gain of issued']=MVL' Gain of issued'].fillna(0)
# nan值必须填充
MVL[MVL['Gain of issued]=MVL['Gain of issued'].min)]
MVL[MVL['Gain of issuedd]=MVL['Gain of issued'].max)]

## 二、2007 年-2019 年俄罗斯机场货运航班运载量
### (1) 求每年货运航班总运量。  
(考察点：统计量，分组)
  
### (2) 每年记录的机场都是相同的吗？  
(考察点：分组，查看类别值)  
  
### (3) 按年计算 2010 年-2015 年全年货运量记录为 0 的机场航班比例。   
(考察点：分组，统计量，筛选)  
  
### (4) 若某机场至少存在 5 年或以上满足所有月运量记录都为 0，则将其所有年份的记录信息从表中删除，并返回处理后的表格    
(考察点：数据删除，分组，筛选，索引)  
  
  
### (5) 采用一种合理的方式将所有机场划分为东南西北四个分区，并给出 2017年-2019 年货运总量最大的区域。  
提示：最后一列 →_→  
(考察点：分组)  
  
### (6) 在统计学中常常用秩代表排名，现在规定某个机场某年某个月的秩为该机场该月在当年所有月份中货运量的排名（例如 *** 机场 19 年 1 月运量在整个 19 年 12 个月中排名第一，则秩为 1），那么判断某月运量情况的相对大小的秩方法为将所有机场在该月的秩排名相加，并将这个量定义为每一个月的秩综合指数，请根据上述定义计算 2016 年 12 个月的秩综合指数。  
(考察点：分组，合并，排序)

In [3]:
# RAS = Russian airport shipping
RAS = pd.read_csv('./2007年-2019年俄罗斯货运航班运载量.csv')
RAS.head()
RAS.info()

,Airport name,Year,January,February,March,April,May,June,July,August,September,October,November,December,Whole year,Airport coordinates
0,Abakan,2019,44.70,66.21,72.7,75.82,100.34,78.38,63.88,73.06,66.74,75.44,110.5,89.8,917.57,"(Decimal('91.399735'), Decimal('53.751351'))"
1,Aikhal,2019,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,"(Decimal('111.543324'), Decimal('65.957161'))"
2,Loss,2019,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,"(Decimal('125.398355'), Decimal('58.602489'))"
3,Amderma,2019,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,"(Decimal('61.577429'), Decimal('69.759076'))"
4,Anadyr (Carbon),2019,81.63,143.01,260.9,304.36,122.00,106.87,84.99,130.00,102.00,118.00,94.0,199.0,1746.76,"(Decimal('177.738273'), Decimal('64.713433'))"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3711 entries, 0 to 3710
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airport name         3711 non-null   object
 1   Year                 3711 non-null   int64
 2   January              3711 non-null   float64
 3   February             3711 non-null   float64
 4   March                3711 non-null   float64
 5   April                3711 non-null   float64
 6   May                  3711 non-null   float64
 7   June                 3711 non-null   float64
 8   July                 3711 non-null   float64
 9   August               3711 non-null   float64
 10  September            3711 non-null   float64
 11  October              3711 non-null   float64
 12  November             3711 non-null   float64
 13  December             3711 non-null   float64
 14  Whole year           3711 non-null   float64
 15  Airport coordinates  3711 non-null   object
dtypes: float64(13), int64(1), object(2)
memory usage: 464.0+ KB

In [ ]:
# 删除没有经纬度信息的
# 经纬度转换成浮点数
# 以经度均值和纬度均值为原点，根据机场与原点的经度差的正负与纬度差的正负及经度差的绝对值与纬度差的绝对值分为四个区域

## 三、新冠肺炎在美国的传播
### (1) 用 corr() 函数计算县（每行都是一个县）人口与表中最后一天记录日期死亡数的相关系数。  
(考察点：corr函数)
  
### (2) 截止到 4 月 1 日，统计每个州零感染县的比例。  
 (考察点：分组，筛选，创建列) 
  
### (3) 请找出最早出确证病例的三个县。  
 (考察点：筛选，转换，索引)   
  
### (4) 按州统计单日死亡增加数，并给出哪个州在哪一天确诊数增加最大（这里指的是在所有州和所有天两个指标一起算，不是分别算）。
 (考察点：分组，索引，差分，转换，筛选)   
  
  
### (5) 现需对每个州编制确证与死亡表，第一列为时间，并且起始时间为该州开始出现死亡比例的那一天，第二列和第三列分别为确证数和死亡数, 每个州需要保存为一个单独的 csv 文件，文件名为“州名.csv”。    
 (考察点：分组，索引，转换，循环，文件写入输出)   
  
  
### (6) 现需对 4 月 1 日至 4 月 10 日编制新增确证数与新增死亡数表，第一列为州名，第二列和第三列分别为新增确证数和新增死亡数，分别保存为十个单独的 csv 文件，文件名为“日期.csv”。  
  (考察点：分组，索引，转换，循环，文件写入输出)

In [2]:
# USCOV = COVID-19 in US
USCOV_diagnose = pd.read_csv('./美国确证数.csv')
USCOV_diagnose.head()
USCOV_diagnose.info()

USCOV_death = pd.read_csv('./美国死亡数.csv')
USCOV_death.head()
USCOV_death.info()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,2020/1/22,2020/1/23,2020/1/24,2020/1/25,2020/1/26,2020/1/27,2020/1/28,2020/1/29,2020/1/30,2020/1/31,2020/2/1,2020/2/2,2020/2/3,2020/2/4,2020/2/5,2020/2/6,2020/2/7,2020/2/8,2020/2/9,2020/2/10,2020/2/11,2020/2/12,2020/2/13,2020/2/14,2020/2/15,2020/2/16,2020/2/17,2020/2/18,2020/2/19,2020/2/20,2020/2/21,2020/2/22,2020/2/23,2020/2/24,2020/2/25,2020/2/26,2020/2/27,2020/2/28,2020/2/29,2020/3/1,2020/3/2,2020/3/3,2020/3/4,2020/3/5,2020/3/6,2020/3/7,2020/3/8,2020/3/9,2020/3/10,2020/3/11,2020/3/12,2020/3/13,2020/3/14,2020/3/15,2020/3/16,2020/3/17,2020/3/18,2020/3/19,2020/3/20,2020/3/21,2020/3/22,2020/3/23,2020/3/24,2020/3/25,2020/3/26,2020/3/27,2020/3/28,2020/3/29,2020/3/30,2020/3/31,2020/4/1,2020/4/2,2020/4/3,2020/4/4,2020/4/5,2020/4/6,2020/4/7,2020/4/8,2020/4/9,2020/4/10,2020/4/11,2020/4/12,2020/4/13,2020/4/14,2020/4/15,2020/4/16,2020/4/17,2020/4/18,2020/4/19,2020/4/20,2020/4/21,2020/4/22,2020/4/23,2020/4/24,2020/4/25,2020/4/26
0,84001001,US,USA,840,1001,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,4,6,6,6,6,6,7,8,10,12,12,12,12,12,12,15,17,19,19,19,23,24,26,26,25,26,28,30,32,33,36,36,37
1,84001003,US,USA,840,1003,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,2,2,2,3,4,4,5,5,10,15,18,19,20,24,28,29,29,38,42,44,56,59,66,71,72,87,91,101,103,109,112,117,123,132,143,147,147,161
2,84001005,US,USA,840,1005,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,2,2,3,3,4,9,9,10,10,11,12,14,15,18,20,22,28,29,30,32,32,33
3,84001007,US,USA,840,1007,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,3,3,4,4,4,5,7,8,9,9,11,13,16,17,17,18,22,24,26,28,32,32,34,33,34,34,38
4,84001009,US,USA,840,1009,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,4,5,5,5,5,5,6,9,10,10,10,10,10,11,12,12,13,14,16,17,18,20,20,21,22,26,29,31,31,31,34

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Columns: 107 entries, UID to 2020/4/26
dtypes: float64(2), int64(99), object(6)
memory usage: 2.6+ MB

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,2020/1/22,2020/1/23,2020/1/24,2020/1/25,2020/1/26,2020/1/27,2020/1/28,2020/1/29,2020/1/30,2020/1/31,2020/2/1,2020/2/2,2020/2/3,2020/2/4,2020/2/5,2020/2/6,2020/2/7,2020/2/8,2020/2/9,2020/2/10,2020/2/11,2020/2/12,2020/2/13,2020/2/14,2020/2/15,2020/2/16,2020/2/17,2020/2/18,2020/2/19,2020/2/20,2020/2/21,2020/2/22,2020/2/23,2020/2/24,2020/2/25,2020/2/26,2020/2/27,2020/2/28,2020/2/29,2020/3/1,2020/3/2,2020/3/3,2020/3/4,2020/3/5,2020/3/6,2020/3/7,2020/3/8,2020/3/9,2020/3/10,2020/3/11,2020/3/12,2020/3/13,2020/3/14,2020/3/15,2020/3/16,2020/3/17,2020/3/18,2020/3/19,2020/3/20,2020/3/21,2020/3/22,2020/3/23,2020/3/24,2020/3/25,2020/3/26,2020/3/27,2020/3/28,2020/3/29,2020/3/30,2020/3/31,2020/4/1,2020/4/2,2020/4/3,2020/4/4,2020/4/5,2020/4/6,2020/4/7,2020/4/8,2020/4/9,2020/4/10,2020/4/11,2020/4/12,2020/4/13,2020/4/14,2020/4/15,2020/4/16,2020/4/17,2020/4/18,2020/4/19,2020/4/20,2020/4/21,2020/4/22,2020/4/23,2020/4/24,2020/4/25,2020/4/26
0,84001001,US,USA,840,1001,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",55869,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,2,2,2,1,1,2,2,2,2,2
1,84001003,US,USA,840,1003,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",223234,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3,3
2,84001005,US,USA,840,1005,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",24686,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,84001007,US,USA,840,1007,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",22394,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,84001009,US,USA,840,1009,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",57826,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Columns: 108 entries, UID to 2020/4/26
dtypes: float64(2), int64(100), object(6)
memory usage: 2.6+ MB

In [6]:
# (1) 用 corr() 函数计算县（每行都是一个县）人口与表中最后一天记录日期死亡数的相关系数。
print(USCOV_death['Population'].corr(USCOV_death["2020/4/26"]))

0.40384419734806987

data.corr() #相关系数矩阵，即给出了任意两个变量之间的相关系数
data.corr()[u'A'] #只显示“A”与其他间的相关系数
data[u'A'].corr(data[u'B']) #A与B两者的相关系数

In [17]:
# (2) 截止到 4 月 1 日，统计每个州零感染县的比例。
# (考察点：分组，筛选，创建列)
(tc[USCOV_diagnose[2020/4/1==0].groupby()[UID].count()/tc.groupby('Province_State')[UID].count()). fillna(0)

                         2020/4/1
Province_State UID
Alabama        84001001         8
               84001003        20
               84001005         0
               84001007         3
               84001009         5

In [23]:
# (3) 请找出最早出确证病例的三个县。
# (考察点：筛选，转换，索引)
list1 = []
for i in range(22,31):
    a = '2020/1/'+str(i)
    list1.append(a)
USCOV_diagnose.sort_values(list1,ascending=False).head(3)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,2020/1/22,2020/1/23,2020/1/24,2020/1/25,2020/1/26,2020/1/27,2020/1/28,2020/1/29,2020/1/30,2020/1/31,2020/2/1,2020/2/2,2020/2/3,2020/2/4,2020/2/5,2020/2/6,2020/2/7,2020/2/8,2020/2/9,2020/2/10,2020/2/11,2020/2/12,2020/2/13,2020/2/14,2020/2/15,2020/2/16,2020/2/17,2020/2/18,2020/2/19,2020/2/20,2020/2/21,2020/2/22,2020/2/23,2020/2/24,2020/2/25,2020/2/26,2020/2/27,2020/2/28,2020/2/29,2020/3/1,2020/3/2,2020/3/3,2020/3/4,2020/3/5,2020/3/6,2020/3/7,2020/3/8,2020/3/9,2020/3/10,2020/3/11,2020/3/12,2020/3/13,2020/3/14,2020/3/15,2020/3/16,2020/3/17,2020/3/18,2020/3/19,2020/3/20,2020/3/21,2020/3/22,2020/3/23,2020/3/24,2020/3/25,2020/3/26,2020/3/27,2020/3/28,2020/3/29,2020/3/30,2020/3/31,2020/4/1,2020/4/2,2020/4/3,2020/4/4,2020/4/5,2020/4/6,2020/4/7,2020/4/8,2020/4/9,2020/4/10,2020/4/11,2020/4/12,2020/4/13,2020/4/14,2020/4/15,2020/4/16,2020/4/17,2020/4/18,2020/4/19,2020/4/20,2020/4/21,2020/4/22,2020/4/23,2020/4/24,2020/4/25,2020/4/26
2969,84053033,US,USA,840,53033,King,Washington,US,47.491379,-121.834613,"King, Washington, US",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,6,9,14,21,31,51,58,71,83,83,116,190,270,328,387,387,488,569,562,693,793,934,1040,1170,1170,1359,1577,1577,2077,2159,2161,2330,2330,2656,2787,2898,3167,3331,3486,3688,3886,4117,4262,4426,4426,4549,4620,4697,4902,4902,5174,5174,5293,5379,5532,5637,5739,5863
610,84017031,US,USA,840,17031,Cook,Illinois,US,41.841448,-87.816588,"Cook, Illinois, US",0,0,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,3,4,4,4,5,5,6,7,7,11,22,27,40,50,50,62,107,178,278,278,548,805,922,1194,1418,1418,2239,2613,3445,3727,4496,5152,5575,6111,7439,8034,8728,9509,10520,11415,12472,13417,14585,15474,16323,17306,18087,19391,20395,21272,22101,23181,24546,25811,27616,29058,30574
103,84004013,US,USA,840,4013,Maricopa,Arizona,US,33.348359,-112.491815,"Maricopa, Arizona, US",0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,3,3,3,4,4,8,9,11,22,34,49,81,139,199,251,299,399,454,545,690,788,871,961,1049,1171,1326,1433,1495,1559,1689,1741,1891,1960,2020,2056,2146,2264,2404,2491,2589,2636,2738,2846,2970,3116,3234,3359

In [ ]:
# (4) 按州统计单日死亡（确诊？）增加数，并给出哪个州在哪一天确诊数增加最大（这里指的是在所有州和所有天两个指标一起算，不是分别算）。
# (考察点：分组，索引，差分，转换，筛选)
#

In [ ]:
# (5) 现需对每个州编制确证与死亡表，第一列为时间，并且起始时间为该州开始出现死亡病例的那一天，
# 第二列和第三列分别为确诊数和死亡数, 每个州需要保存为一个单独的 csv 文件，文件名为“州名.csv”。¶
# (考察点：分组，索引，转换，循环，文件写入输出)

# 先转置-

In [ ]:
# (6) 现需对 4 月 1 日至 4 月 10 日编制新增确证数与新增死亡数表，
# 第一列为州名，第二列和第三列分别为新增确证数和新增死亡数，分别保存为十个单独的 csv 文件，
# 文件名为“日期.csv”。
# (考察点：分组，索引，转换，循环，文件写入输出)